/* Estilos generales de la página */
body {
	margin: 100px;
	padding: 100px;
	font-family: Arial, Helvetica, sans-serif
	font-size: 16px;
	line-height: 1.5;
}

/* Estilos del encabezado */
header {
	background-color: #fa7c7c;
	padding: 20px;
}

/* Estilos de la barra de navegación */
nav {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
}

/* Estilos del contenido principal */
section {
	padding: 20px;
}

/* Estilos del pie de página */
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}


.titulocolo{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1000px #0000;
	padding-left: 400px;
}

.parrafocolo{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px #0000;
	padding-left: 400px;
}

.titulolagbla{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px #0000;
	padding-left: 400px;

}

.parrafolagbla{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px #0000;
	padding-left: 400px;
}